.idea/
bin/
obj/

*.user
*.suo

.vs/


.env

app.db

*.log

WebApplication1/bin/
WebApplication1/obj/
WebApplication1/.idea/
WebApplication1/app.db

WebApplication1/**/bin/
WebApplication1/**/obj/

*.nupkg
*.snupkg
packages/

.idea/
*.iml


publish/

*.tmp

